<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Formulário NAS - PROCON/ES</title>
    <script defer src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <form action="/send" method="POST">
        <%- include('partials/form-identificacao') %> <%-
        include('partials/form-socioeconomico') %> <%-
        include('partials/form-despesas') %> <%-
        include('partials/form-endividamento') %> <%-
        include('partials/form-credores') %>
        <button type="submit">Enviar Formulário</button>
      </form>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
